* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url("images/football_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    width: 1925px;
    background-position: center center;
    margin: 0 0 60px;
    padding-bottom: 100px;
    position: relative;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #1c1d3f;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
@font-face {
    font-family: "Open Sans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Open Sans";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    z-index: 1;
    position: relative;
    padding: 0 25px;
    margin: 0 auto;

}
.header-logo {
    position: relative;
    z-index: 5;
    display: block;
    width: 191px;
    padding-top: 45px;
    margin-left: auto;
    margin-right: auto;
    fill: #ffffff;
}


.header_title{
    display: block;
    width: 70%;
    padding-top: 210px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;


}
.header_title-title{
    display: block;
    padding-left: 200px;
    color: #ffffff;


}


a {
    text-decoration: none;
}
.content{
    box-sizing: border-box;
    width: 100%;

}
.download{
    display: flex;
    margin-top: 200px;
    margin-left: 30px;
    justify-content: center;


}
.downloads{
    box-sizing: border-box;
    border-radius: 30px;
    width: 311px;
    height: 77px;
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5e42b0;
   justify-content: center;
    padding-top: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding-right: 40px;
    margin-left: 50px;
}
.downloads:hover {
    color: #1c1d3f;
    background-color: #a496ca;
}
.download_icon{
    display: inline-block;
    width: 42px;
    height: 48px;
    background-repeat: no-repeat;
    padding-top: 11px;
    padding-right: 30px;
    padding-bottom: 18px;
    background-position: left center;
    fill: #ffffff;

}
.download-text{
    padding-left: 12px;
    padding-bottom: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: start;
    padding-right: 27px;
}
.post-section{
    width: 100%;
    display: block;


}
.page-content{
    width: 100%;
    display: block;


}
.post-text_athlets{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 100px;


}


.athlets_post{
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
    padding-right: 160px;

    margin-left: auto;
    margin-right: auto;

}
.athlets_post::before{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    background-image: url("images/footballer_566.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;



}

.title_post_athlets{

    width: 341px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 100px;
   margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-transform: uppercase;
}
.connection-post-football{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.connection-name-football{
    width: 19px;
    height: 14px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    vertical-align: super;
    padding-left: 47px;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;



}
.connection-name-football::after{
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    margin: 0px auto;


}
.football-title-connection{
    width: 326px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    justify-content: center;
    display: inline-block;
    margin-top: 25px;
    padding-bottom: 20px;

}

.post-football_connection{
    width: 707px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 400px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
   margin-bottom: 60px;
}
.colaboration-post-football{
    position: relative;
    width: 1925px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.colaboration-post-football:before{
    content: "";
    display: block;
    background-color: #5e42b0;
    opacity: 0.06;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;

}



.football-title-colaboration{
    width: 166px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    padding-bottom: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 80px;
}

.colaboration-name-football{
    width: 21px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: super;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

}
.colaboration-name-football::after{
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    background: #5e42b0;
    margin: 0px auto;
}

.post-football_colaboration{
    width: 707px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    display: block;
   margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    text-align: left;
    padding-left: 380px;
}

.growth-post-football{
    width: 100%;
    background-color: #5e42b0;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;




}
.growth-name-football{
    width: 21px;
    color: #0a0e34;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    vertical-align: super;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.growth-name-football::after{
    content: "";
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background: #efefef;
    display: block;

}
.post-football_growth{
    width: 713px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    display: block;
   text-align: left;
    margin-top: 20px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 400px;
}
.football-title-growth{
    width: 166px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 80px;
}

.title_post_players{
    width: 333px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 100px;

}
.post-text_players{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;

}
.players_post {
    width: 100%;
    position: relative;
    padding-right: 120px;
}
.players_post::before{
    content: "";
    position: absolute;
    display: block;
    background-image: url("images/basketballer_991.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.title_post_players{
    text-transform: uppercase;
    width: 341px;

    color: #e7e7e7;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 108px;
    padding-left: 40px;
}
.connection-name-basketballer{
    display: inline-block;
    width: 19px;

    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    vertical-align: super;
    padding-left: 47px;
    padding-right: 10px;

}
.connection-name-basketballer::after{
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    background: #5e42b0;
    margin: 0px auto;

}

.basketballer-title-connection{
    display: inline-block;
    width: 256px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
    padding-bottom: 25px;
    margin-top: 30px;

}
.basketballer-post-connection{
    width: 692px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    padding-left: 40px;

}
.colaboration-name-basketballer{
    vertical-align: super;
    padding-left: 47px;
    padding-right: 10px;
    display: inline-block;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;

}
.basketballer-title-colaboration{

    display: inline-block;
    width: 326px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
    padding-bottom: 25px;
    margin-top: 30px;

}
.colaboration-post-basketballer{
    width: 1925px;
    position: relative;

}
.colaboration-post-basketballer::after{
    content: "";
    background-color: #0a0e34;
    opacity: 0.04;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: block;

}
.colaboration-name-basketballer::after{
    content: "";
    display: block;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background: #5e42b0;
}
.basketballer-post-colaboration{
    display: block;
   padding-bottom: 60px;
    padding-left: 40px;
    width: 739px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.growth-name-basketballer{
    vertical-align: super;
    padding-left: 47px;
    padding-right: 10px;
    display: inline-block;
    width: 21px;
    height: 14px;
    color: #9173e6;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}
.growth-name-basketballer::after{
    content: "";
    display: block;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
}
.growth-post-basketballer{
    display: block;

    background: #0a0e34;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;

}
.basketballer-title-growth{

    display: inline-block;
    width: 166px;

    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin-left: 10px;
    padding-bottom: 25px;
    margin-top: 30px;


}
.basketballer-post-growth{
    display: block;
    padding-bottom:40px;
    padding-left: 40px;
    width: 517px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;


}
.sports-time{
    width: 1925px;
    display: flex;
    flex-direction: column;
}
.top-news-active{
    width: 100%;
    display: flex;

}

.active-news{
    display: flex;
    width: 50%;
}
.active-image{

    background-size: contain;
    background-repeat: no-repeat;



}
.sports-active{
    width: 50%;
    display: block;


}

.numbers_active{
    display: block;
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    margin-top: 200px;

}
.number_active{
    width: 21px;
    height: 5px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;

}
.number_active::after{
    content: "";
    display: block;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background: #a496ca;
    position: absolute;
}

.info-active{
    display: inline-block;
    width: 65%;
    padding-top: 70px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 60px;


}
.title_active {
    display: block;
    opacity: 0.4;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    padding-top: 250px;
    background-position: 0 0;
    margin-left: 50px;

}

.top-news-contact{
    width: 1925px;
    display: flex;
    align-items: center;
   margin-left: 60px;


}
.contact-news{
    display: flex;
    width: 50%;
}
.contact-image{
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 60px;

}
.sports-contact{
    width: 50%;
    display: block;
}
.info-contact{
    width: 75%;
    display: inline-block;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
.title-contact{
    display: block;
    opacity: 0.4;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
   padding-bottom: 80px;
    padding-right: 80px;
}

.numbers_contact {
    display: block;
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;

}
.number_contact{
    width: 21px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;

}
.number_contact::after{
    content: "";
    display: block;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background: #a496ca;
    position: absolute;
}



.top-news-work {
    width: 100%;
    display: flex;
}

.work-news{
    display: flex;
    width: 50%;
}
.work-image {
    background-size: contain;
    background-repeat: no-repeat;

}
.number_work {
    width: 21px;
    height: 5px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
}
.number_work::after{
    content: "";
    display: block;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background: #a496ca;
    position: absolute;
}

.sports-work{
    width: 50%;
    display: block;

}
.post-info-work{
    width: 618px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 110px;

}
.numbers_work{
    display: block;
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    margin-top: 200px;
}
.title-work{
    display: block;
    opacity: 0.4;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    padding-top: 250px;
    background-position: 0 0;
    margin-left: 50px;
}
.info-work{
    display: inline-block;
    width: 65%;
    padding-top: 70px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 60px;
}
.number_work{
    width: 21px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    display: block;
    position: relative;
   margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
}
.number_work::after{
    content: "";
    display: block;
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background: #a496ca;
    position: absolute;
}

.footer{
    position: relative;
    background-image: url("images/game_1920.jpg");
    background-size: cover;
    width: 1925px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #5e42b0;
    display: block;

}
.footer::after{
    content: "";
    position: absolute;
    display: block;
    background: #1c1d3f;
    opacity: 0.8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;


}
.footers_section{
    display: flex;
    justify-content: center;
   margin-right: auto;
    margin-left: auto;
    padding-top: 220px;
    justify-content: center;
}
.footer-title{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;

}
.footer_post{
    padding-right: 95px;
    color: #a496ca;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;


    position: relative;
    z-index: 3;
}
.footer_logo{
    display: block;
    position: relative;
    width: 130px;
    background-color: #5e42b0;
    border-radius: 30px;
    fill: #ffffff;
   margin-right: 20px;


    z-index: 2;


}
.download_footer{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    position: relative;
    z-index: 3;


}

.downloads_footer{
    box-sizing: border-box;
    display: flex;
    border-radius: 30px;
    width: 311px;
    height: 77px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5e42b0;
    cursor: pointer;
    align-items: center;
    padding-right: 40px;
    justify-content: center;
    padding-top: 5px;
    outline: none;
    border: none;
    margin-left: 40px;

}
.downloads_footer:hover{
    color: #1c1d3f;
    background-color: #a496ca;
}
.download_icon_footer{
    display: inline-block;
    width: 42px;
    height: 48px;
    background-repeat: no-repeat;
    padding-top: 11px;
    padding-right: 30px;
    padding-bottom: 18px;
    background-position: left center;
    fill: #ffffff;
}
.download_text_footer{

    border: none;
    outline: none;
    text-align: start;
    background-color: #5e42b0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    padding-right: 27px;
}
.footer-logo{
    position: relative;
    z-index: 5;
    display: block;
    width: 191px;
    padding-top: 140px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    fill: #ffffff;
}